.CardsGrid {
	display: grid;
	gap: 1rem;
	max-width: 90rem;
	margin: auto;
	padding: 2rem 1rem;
	grid-template-columns: repeat(var(--columns, 1), 1fr);
}

@media (min-width: 30rem) {
	.CardsGrid {
		--columns: 2;
	}
}
@media (min-width: 40rem) {
	.CardsGrid {
		--columns: 3;
	}
}
@media (min-width: 70rem) {
	.CardsGrid {
		--columns: 4;
	}
}
.Card {
	width: 100%;
	/*padding: 0.2rem 0.1rem;*/
	background-color: whitesmoke;
	border-radius: 5px;
	/*width: 100%;*/
}

.CardHeadline {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CardMedia {
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin: -1.5rem -1rem 0;*/
	padding: 0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.CardImage {
	max-width: 100%;
	min-width: 90%;
	margin-top: 1rem;

	box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.CardDescription {
	margin-top: 1rem;
	padding: 0.5rem;
}

.CardActions {
	position: relative;
	display: grid;
}
.CardButton {
	border-radius: 5px;
	border: whitesmoke;
	color: silver;
}
.CardButton:hover {
	color: dimgray;
}
.CardButton:active {
	color: orchid;
}

.isHidden {
	display: none;
}
