@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=The+Nautigal&display=swap");
.Typo {
	font-family: "Noto Sans JP", sans-serif;
}

.sans {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
}

.h1 {
	/*styles h1*/
	font-size: 3em;
}
.h2 {
	/*styles h2*/
	font-size: 2em;
}
.h3 {
	/*styles h3*/
	font-size: 1.5em;
}
.h4 {
	/*styles h4*/
	font-size: 1.2em;
}
.mono {
	font-family: monospace;
	font-size: 1em;
}

.subtitle1 {
	font-family: "The Nautigal", cursive;
}
